<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Необходима авторизация</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
</head>
<body>
    <div class="container text-center">
        <h2 class="mt-5">Доступ Запрещен</h2>
        <p>Пожалуйста, войдите в систему или зарегистрируйтесь.</p>
        <a href="/signup" class="btn btn-primary">Регистрация</a>
        <a href="/signin" class="btn btn-secondary">Вход</a>
    </div>
</body>
</html>
